storage "consul" {
  address = "{{ CONSUL_ADDR }}:8500"
  path    = "vault"
}

listener "tcp" {
  address     = "{{ SELF_IP }}:8200"
  tls_disable = 1
}
disable_mlock={{ DISABLE_MLOCK | default("false") }}
